/* General */

body {
	background: url(../img/nyc-bg.jpg) center center no-repeat fixed;
	background-size: cover;
	font-family: 'Roboto Slab', serif;
}

/* Titles */

h1, h2, h3, h4, h5 {
	color: #0230A3;
	font-family: 'Libre Franklin', sans-serif;
}
h1 {}
h2 {}
h3, h4 {
    font-size: 0.9rem;
    text-transform: uppercase;
    
}
h3 {
	margin: 0.6rem 0 2rem 0;
}
h4 {
    margin: 0.6rem 0;
}
p {
	color: #777777;
}
a {
	color: #0230A3;
	display: block;
    height: 1.6em;
    width: fit-content;
    border-bottom: 1px solid;
}
a:hover {
	text-decoration: none;
}
/* Cover */
.logo {
	display: block;
    height: 100%;
    width: 156px;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../img/humanNycLogo.png) no-repeat center 32%;
    background-size: 100%;
}
.coverTitle {
	margin-top: 62px;
}
/* Top-bar */
.topbar {
	margin: 1em 0;
}
.topbar a{
	float: right;
}
.topbar .col {
    border-bottom: 1px solid #707070;
}
/* Nav */
.nav-tabs {
    border-bottom: 2px solid transparent;
}
.nav-link {
    display: block;
    padding: 0.6rem 0 1rem 0;
    margin-right: 2rem;
    font-size: 0.9rem;
    text-transform: uppercase;
}

.nav-tabs .nav-link.active {
    color: #0230a3;
    border-color: transparent;
    border-bottom: 2px solid #0230a3;
}
.nav-tabs a.nav-link:hover {
	border-color: transparent;
	border-bottom: 2px solid #0230a3;
}

/* content */
.step {
	height: 83vh;
    margin: 2.5rem 1.5rem;
    padding: 1rem 2rem;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    overflow: hidden;
    background: #ffffff;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 100%;
    word-wrap: break-word;
    background-color: transparent;
    border: transparent;
}
.card-header {
    padding: .75rem 0 .75rem 2em;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: none;
}
.card-header h5 {
	display: list-item;
    list-style-image: url('../img/list-symbol.png');
}
.card-header h5 .btn {
	white-space: unset;
	text-align: left;
	padding: 0;
	color: #000000;
}
.card-body {
    padding: 0 0 1.25rem 2rem;
}
.scroll {
	max-height: 550px;
    overflow: scroll;
}
/*
body {
	padding: 0;
	margin: 0;
}
ul {
	list-style: none;
	padding: 0;
}
h1.huge {
	position: absolute;
	color: #fff;
    font-size: 22vw;
    line-height: 20vw;
    top: 40%;
    transform: translateY(-80%);
    text-align: center;
}
.txt.white a {
	color: #fff;
}
.txt a, .txt a:visited, .txt a:active {
	text-decoration: underline;
}
.txt a:hover {
	text-decoration: none;
}
#sidebar h2 {
	font-size: 3em;
}
.hide {
	visibility: hidden;
}
.show {
	visibility: visible;
}
.wrapper {

}
.cover {
	position: absolute;
	width: 100%;
	height: 100%;
}
#world {
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#world.small {
	position: fixed;
	z-index: 1;
	top: 50%;
	left: 90px;
	transform: translate(-50%, -50%);
	animation-name: small;
    animation-duration: 0.5s;
}
.content, .sidebar {
	position: absolute;
	top: 100%;
}
#sidebar {
	width: 230px;
	float: left;
	padding-left: 28px;
	min-height: 800px;
}
#sidebar.stick {
	position: fixed;
	top: 0%;
	height: 100%;
	z-index: 2;
}
#sidebar .title {
	margin-bottom: 130px;
}
#title_bottom {
	position: absolute;
    bottom: 0;
}
.article, .about {
	padding-left: 230px;
}
.article {
	max-width: 70%;
}
.about {
	max-width: 70%;
}
.end {
	width: 100vw;
	position: absolute;
	height: 100vh;
	background: #165a1a;
	color: #fff;
	z-index: 10;
}
.about p {
	font-size: 22px;
}
.email_form {
	margin-top: 5em;
}
.blu {
	background: rgba(0, 160, 212, 0.45);
}
.giallo {
	background: rgba(255, 255, 0, 0.5);
}
.clear {
	clear: both;
    padding-top: 1em;
}
.clear input {
	background: none;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 2em;
    font-family: "main-bold", helvetica, arial, sans-serif;
    padding: 0.1em 0.5em 0.4em;
    cursor: pointer;
}
.colophon {
	position: absolute;
    bottom: 49px;
    font-family: "main-regular", helvetica, arial, sans-serif;
    font-size: .8em;
}
span.txt-img {
	display: -webkit-inline-box; 
	overflow: visible; 
	position: relative; 
	height: 45px;
}
span.txt-img img {
	position: relative;
}

:focus {
	outline: 0;
}

#outer  {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  text-align: center;
}

#inner {
  display: table-cell;
  vertical-align: middle;
}
*/
.cover {
	display: block;
	width: 100%;
	height: 100vh;
}